/*NAVBAR*/
#navbar
{
    box-shadow: 0 2px 11px 0 rgb(0 0 0 / 18%), 0 2px 10px 0 rgb(0 0 0 / 15%);
    background-color: #343a40;
    margin: 0;
    border-bottom: 1px solid black;
    margin-left: -8px;
    margin-top: -8px;
    width: 100%;

    position: fixed;
}



/*LI STYLE*/
#buttons li
{
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #f0b625;
    border: 1.5px solid black;
    border-radius: 15px;
    float: right;
    margin: 10px;

    width: 110px;
    text-align: center;
    cursor: pointer;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}




/*TABLE*/
table
{
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    border-collapse: collapse;
    width: 100%;
}
td, th
{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even)
{
    background-color: #dddddd;
}





footer
{
    border-top: 1px solid black;
    font-family: 'Oswald', sans-serif;
    font-weight: 1000;
}